{%- liquid
  assign account_visible = false
  if shop.customer_accounts_enabled
    assign account_visible = true
  endif
-%}


<div class="my-drawer-menu">
  <div class="my-drawer-menu__wrap">
    <div class="my-overlay"></div>
     <div class="my-drawer-menu__inner active">
       <div class="drawer-menu__close-wrapper">
            <button
              type="button"
              data-drawer-close
              class="drawer-menu__close-icon"
              aria-label="{{ 'general.accessibility.close_modal' | t }}"
            >
              {% render 'icon-button' with icon: 'close-stroke' %}
            </button>
          </div>
          <div class="my-drawer-menu__list-first-level menu-list">
              <ul>
                  {%  for link in linklists[menu].links %}
                    {% if link.links.size != 0 %}
                    <li>
                       <span class="ff-heading fs-heading-2-large click-menu" data-title="{{ link.title }}"> 
                            {{ link.title }} 
                            {% render 'icon' with icon: 'arrow-stroke', class: 'menu-icon' %}
                       </span>
                    </li>
                    {% else %}
                       <li>
                         <a class="drawer-menu__link" href="{{ link.url }}"> 
                            <span class="ff-heading fs-heading-2-large"> {{ link.title }} </span>
                        </a>
                       </li>
                    {% endif %}
                    
                  {% endfor %}
                  {%- if account_visible -%}
                      <li class="drawer-menu__item" data-list-item>
                        <a class="drawer-menu__link fs-body-large" href="{{ routes.account_url }}">
                          {%- if customer -%}
                            {{ 'sections.drawer_menu.account.logged_in' | t }}
                          {% else %}
                            {{ 'sections.drawer_menu.account.logged_out' | t }}
                          {%- endif -%}
                        </a>
                      </li>
                    {%- endif -%}
              </ul>
          </div>
          <div class="my-drawer-menu__list-second-level menu-list"> 
            
                  {%  for link in linklists[menu].links %}
                    {% if link.links.size != 0 %}
                      <ul data-title="{{ link.title }}">
                        {% for second_link in link.links %}
                           <li>
                                <a class="drawer-menu__link" href="{{ second_link.url }}"> 
                                    <span class="ff-heading fs-heading-2-large"> {{ second_link.title }} </span>
                                </a>
                            </li>
                         {% endfor %}
                      </ul>
                     {% endif %}
                  {% endfor %}
          </div>
      </div>
  </div>
</div>