{% liquid
  assign logo = section.settings.logo
  assign logo_max_width = section.settings.logo_max_width
  assign logo_position = section.settings.logo_position
  assign navigation_position = section.settings.navigation_position
  assign style = section.settings.style

  assign transparent_home = section.settings.enable_transparent_home
  assign color_text_transparent = section.settings.color_text_transparent
  assign color_icon_transparent = section.settings.color_icon_transparent
  assign color_border_transparent = section.settings.color_border_transparent
  assign color_count_transparent = section.settings.color_count_transparent
  assign opacity_border_transparent = section.settings.opacity_border_transparent
  assign logo_transparent = section.settings.logo_transparent
  assign border_opacity = opacity_border_transparent | divided_by: 100.0

  assign menu = section.settings.menu
  assign secondary_menu = section.settings.secondary_menu

  assign links = linklists[menu].links
  assign secondary_links = linklists[secondary_menu].links

  assign secondary_menu_valid = false

  if secondary_menu != blank and secondary_menu != menu
    assign secondary_menu_valid = true
  endif

  if cart.item_count > 0
    assign count_visible = true
  endif

  assign enable_locale_selector = section.settings.enable_locale_selector
  assign enable_country_selector = section.settings.enable_country_selector
%}

<script>
  {% comment %}This is done here AND in the JS so it is responsive in TE but doesn't wait for JS otherwise{% endcomment %}
  {%- if transparent_home -%}
    document.body.classList.add("header-transparent-on-home");
  {%- endif -%}
</script>

{%- capture header_logo -%}
  <h1 class="header__logo">
    <a
      class="header__logo-link"
      href="{{ routes.root_url }}"
      {% if logo != blank or logo_transparent != blank %}
        aria-label="{{ shop.name }}"
      {% endif %}
    >
      {%- if logo != blank -%}
        {%- render 'image' with image: logo, wrapper_class: 'regular-logo', preload: true -%}
      {%- endif -%}

      {%- if logo_transparent != blank -%}
        {%- render 'image' with image: logo_transparent, wrapper_class: 'transparent-logo', preload: true -%}
      {%- endif -%}

      {%- if logo == blank or logo_transparent == blank -%}
        <span class="header__logo-text">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </h1>
{%- endcapture -%}

{%- capture search_icon -%}
  <a
    class="header__icon-touch header__icon-touch--search no-transition"
    href="{{ routes.search_url }}"
    data-search
    aria-label="{{ 'general.accessibility.open_search' | t }}"
  >
    <svg width="18" height="18" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_615_915)">
      <path d="M30.0698 28.5625L37.2125 35.9224L34.8527 38.3545L27.7118 30.9929C25.0547 33.1882 21.7498 34.3822 18.3445 34.3772C10.0595 34.3772 3.33545 27.447 3.33545 18.9081C3.33545 10.3691 10.0595 3.43896 18.3445 3.43896C26.6294 3.43896 33.3535 10.3691 33.3535 18.9081C33.3583 22.4179 32.1998 25.8241 30.0698 28.5625ZM26.7245 27.2872C28.841 25.044 30.0229 22.037 30.0181 18.9081C30.0181 12.2598 24.7933 6.87655 18.3445 6.87655C11.8939 6.87655 6.67079 12.2598 6.67079 18.9081C6.67079 25.5547 11.8939 30.9396 18.3445 30.9396C21.3803 30.9446 24.2978 29.7264 26.4743 27.545L26.7245 27.2872Z" fill="#080808" stroke="#FEFEFE" stroke-width="0.3"/>
      </g>
      <defs>
      <clipPath id="clip0_615_915">
      <rect width="40.024" height="41.251" fill="white"/>
      </clipPath>
      </defs>
    </svg>
  
  </a>
{%- endcapture -%}

{%- capture account_icon -%}
  <a
    class="header__icon-touch header__icon-touch--account"
    href="{{ routes.account_url }}"
    aria-label="{{ 'general.accessibility.go_account' | t }}"
  >
      <svg width="18" height="18" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.0241 20.0002C22.2342 20.0002 24.3538 19.1222 25.9166 17.5594C27.4795 15.9966 28.3574 13.877 28.3574 11.6668C28.3574 9.45669 27.4795 7.33708 25.9166 5.77427C24.3538 4.21147 22.2342 3.3335 20.0241 3.3335C17.814 3.3335 15.6943 4.21147 14.1315 5.77427C12.5687 7.33708 11.6908 9.45669 11.6908 11.6668C11.6908 13.877 12.5687 15.9966 14.1315 17.5594C15.6943 19.1222 17.814 20.0002 20.0241 20.0002ZM25.5796 11.6668C25.5796 13.1403 24.9943 14.5533 23.9525 15.5952C22.9106 16.6371 21.4975 17.2224 20.0241 17.2224C18.5507 17.2224 17.1376 16.6371 16.0957 15.5952C15.0539 14.5533 14.4685 13.1403 14.4685 11.6668C14.4685 10.1934 15.0539 8.78033 16.0957 7.73846C17.1376 6.69659 18.5507 6.11127 20.0241 6.11127C21.4975 6.11127 22.9106 6.69659 23.9525 7.73846C24.9943 8.78033 25.5796 10.1934 25.5796 11.6668ZM36.6908 33.8891C36.6908 36.6668 33.913 36.6668 33.913 36.6668H6.1352C6.1352 36.6668 3.35742 36.6668 3.35742 33.8891C3.35742 31.1113 6.1352 22.7779 20.0241 22.7779C33.913 22.7779 36.6908 31.1113 36.6908 33.8891ZM33.913 33.8779C33.9102 33.1946 33.4852 31.1391 31.6019 29.2557C29.7908 27.4446 26.3824 25.5557 20.0241 25.5557C13.663 25.5557 10.2574 27.4446 8.44631 29.2557C6.56298 31.1391 6.14076 33.1946 6.1352 33.8779H33.913Z" fill="#080808" stroke="#FFFFFA" stroke-width="0.2"/>
      </svg>
  
  </a>
{%- endcapture -%}

{%- capture cart_icon -%}
  <a
    class="header__icon-touch header__icon-touch--cart no-transition"
    href="{{ routes.cart_url }}"
    aria-label="{{ 'general.accessibility.open_cart' | t }}"
    data-js-cart-icon
  >
      <svg width="18" height="18" viewBox="0 0 45 47" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_615_919)">
      <path d="M35.1667 42H5.83333C5.3471 42 4.88079 41.8262 4.53697 41.5167C4.19315 41.2073 4 40.7876 4 40.35V10.65C4 10.2124 4.19315 9.79271 4.53697 9.48327C4.88079 9.17384 5.3471 9 5.83333 9H35.1667C35.6529 9 36.1192 9.17384 36.463 9.48327C36.8068 9.79271 37 10.2124 37 10.65V40.35C37 40.7876 36.8068 41.2073 36.463 41.5167C36.1192 41.8262 35.6529 42 35.1667 42ZM33.3333 38.7V12.3H7.66667V38.7H33.3333ZM15 15.6V18.9C15 20.2128 15.5795 21.4719 16.6109 22.4002C17.6424 23.3285 19.0413 23.85 20.5 23.85C21.9587 23.85 23.3576 23.3285 24.3891 22.4002C25.4205 21.4719 26 20.2128 26 18.9V15.6H29.6667V18.9C29.6667 21.088 28.7009 23.1865 26.9818 24.7336C25.2627 26.2808 22.9312 27.15 20.5 27.15C18.0688 27.15 15.7373 26.2808 14.0182 24.7336C12.2991 23.1865 11.3333 21.088 11.3333 18.9V15.6H15Z" fill="#080808" stroke="#FEFEFE" stroke-width="0.8"/>
      </g>
      <ellipse cx="34.2392" cy="10.7014" rx="9.96231" ry="10.3127" fill="#383838"/>
      <path d="M33.6147 16.4624V8.95654L32.104 10.5425L31.2769 9.68799L33.7788 7.12451H35.0161V16.4624H33.6147Z" fill="#FEFEFE"/>
      <defs>
      <clipPath id="clip0_615_919">
      <rect width="40.024" height="41.251" fill="white" transform="translate(0.0239258 5)"/>
      </clipPath>
      </defs>
      </svg>
  
    <div class="header__cart-count" data-js-cart-indicator>
      <span data-js-cart-count>{{ cart.item_count }}</span>
    </div>
  </a>
{%- endcapture -%}

{%- capture nav -%}
  <nav class="header__links" data-navigation>
    {%- if menu == blank and secondary_menu != blank -%}
      {% render 'navigation' with menu: secondary_links %}
    {%- else -%}
      {% render 'navigation' with menu: links %}
    {%- endif -%}
  </nav>
{%- endcapture -%}

{%- capture burger -%}
  <button
    class="header__menu-icon header__icon-touch header__icon-menu"
    aria-label="{{ 'general.accessibility.open_menu' | t }}"
    data-js-menu-button
  >
      <svg width="20" height="16" viewBox="0 0 40 29" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="40" height="3"  fill="#080808"/>
      <rect y="13" width="40" height="3"  fill="#080808"/>
      <rect y="26" width="40" height="3"  fill="#080808"/>
      </svg>
  
  </button>
{%- endcapture -%}

{%- capture filler -%}<div class="header__filler"></div>{%- endcapture -%}

<header
  data-section-id="{{ section.id }}"
  data-section-type="header"
  {% if settings.enable_sticky_header %}
    data-enable-sticky-header="true"
  {% endif %}
  {% if transparent_home %}
    data-transparent-header-on-home="true"
  {% endif %}
  class="
    header
    header--{{ style }}
    header--{{ logo_position }}
    header--navigation-{{ navigation_position }}
    {% if logo != blank -%}
      header--has-logo
    {%- endif %}
    {% if transparent_home and template.name == 'index' %}
      header--transparent-home
    {% endif %}
    {% if logo_transparent != blank %}
      header--has-transparent-logo
    {% endif %}
    {% if shop.customer_accounts_enabled -%}
      header--has-accounts
    {%- endif %}
    {% if secondary_menu_valid -%}
      header--has-secondary-menu
    {%- endif %}
    {% if menu == blank and secondary_menu != blank -%}
      header--primary-menu-is-secondary
    {%- endif %}
  "
  style="
    --width-max-logo: {{ logo_max_width }}px;
    --color-cart-count-transparent: {{ color_count_transparent }};
    --color-text-transparent: {{ color_text_transparent }};
    --color-icon-transparent: {{ color_icon_transparent }};
    --color-border-transparent: {{ color_border_transparent | color_modify: 'alpha', border_opacity }};
  "
>
  <a href="#main" class="header__skip-top-content btn btn--primary btn--small">
    {{ 'general.accessibility.skip_to_content' | t }}
  </a>

  <div class="header__inner">
    <div class="header__left">
      {%- if logo_position == 'center' and navigation_position == 'below' and style == 'inline' -%}
        {{ burger }}
        {{ search_icon }}
      {%- elsif logo_position == 'left' and style == 'inline' and navigation_position != 'below' -%}
        {{ header_logo }}
        {{ burger }}
        {{ nav }}
      {%- elsif logo_position == 'left'
        and style == 'inline'
        and secondary_menu_valid
        and navigation_position == 'below'
      -%}
        {{ burger }}
        {{ header_logo }}
      {%- elsif logo_position == 'left' and style == 'inline' and navigation_position == 'below' -%}
        {{ burger }}
        {{ header_logo }}
      {%- elsif logo_position == 'left' and style == 'icon' -%}
        {{ header_logo }}
        {{ burger }}
      {%- elsif logo_position == 'center' and style == 'inline' -%}
        {{ burger }}
        {{ nav }}
      {%- elsif logo_position == 'center' and style == 'icon' -%}
        {{ burger }}
      {%- endif -%}
    </div>
    <div class="header__center">
      {{ header_logo }}
    </div>
    <div class="header__right">
      {%- unless logo_position == 'center' and navigation_position == 'below' and style == 'inline' -%}
        {{ search_icon }}
      {%- endunless -%}

      {%- if shop.customer_accounts_enabled -%}
        {{ account_icon }}
      {%- endif -%}

      {{ cart_icon }}
    </div>
    {%- if navigation_position == 'below' and style == 'inline' -%}
      <div class="header__below-left">
        <!-- logo menu needs to always be somewhre else -->
        {%- if logo_position == 'left' -%}
          {%- if secondary_menu_valid -%}
            {{ burger }}
          {%- endif -%}

          {{ nav }}
        {%- else -%}
          {{ filler }}
        {%- endif -%}
      </div>
      <div class="header__below-center">
        {%- if logo_position == 'center' -%}
          {{ nav }}
        {%- endif -%}
      </div>
    {%- endif -%}

    {% render 'header-quick-search' %}
    {% if settings.cart_type == 'flyout' %}
      {% render 'quick-cart' %}
    {% endif %}
  </div>

  <div class="no-js-menu no-js-menu--desktop">
    {% render 'no-js-navmenu' with menu: menu, secondary_menu: secondary_menu %}
  </div>

  {% render 'drawer-menu',
    menu: menu,
    secondary_menu: secondary_menu,
    enable_locale_selector: enable_locale_selector,
    enable_country_selector: enable_country_selector
  %}
</header>

<script>
  // Set heading height at component level
  const header = document.querySelector('.header__outer-wrapper');
  document.documentElement.style.setProperty('--height-header', header.offsetHeight + 'px');
</script>

<style>
  {% if transparent_home %}
    .template-index #main {
      margin-top: calc((var(--height-header) + var(--announcement-height)) * -1);
    }
  {% endif %}
</style>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "header__outer-wrapper",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.image.label"
    },
    {
      "id": "logo_max_width",
      "type": "range",
      "min": 50,
      "max": 600,
      "step": 25,
      "unit": "px",
      "label": "t:sections.header.settings.logo_max_width.label",
      "default": 200
    },
    {
      "id": "menu",
      "type": "link_list",
      "label": "t:sections.header.settings.menu.label",
      "default": "main-menu"
    },
    {
      "id": "secondary_menu",
      "type": "link_list",
      "label": "t:sections.header.settings.secondary_menu.label"
    },
    {
      "id": "style",
      "type": "select",
      "label": "t:sections.header.settings.style.label",
      "options": [
        { "value": "inline", "label": "t:sections.header.settings.style.options__1" },
        { "value": "icon", "label": "t:sections.header.settings.style.options__2" }
      ],
      "default": "icon"
    },
    {
      "id": "navigation_position",
      "type": "select",
      "label": "t:sections.header.settings.navigation_position.label",
      "options": [
        { "value": "inline", "label": "t:sections.header.settings.navigation_position.options__1" },
        { "value": "below", "label": "t:sections.header.settings.navigation_position.options__2" }
      ],
      "default": "inline"
    },
    {
      "id": "logo_position",
      "type": "select",
      "label": "t:sections.header.settings.logo_position.label",
      "options": [
        { "value": "left", "label": "t:sections.header.settings.logo_position.options__1" },
        { "value": "center", "label": "t:sections.header.settings.logo_position.options__2" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:shared.settings.disclosure.header__language.content",
      "info": "t:shared.settings.disclosure.header__language.info"
    },
    {
      "type": "checkbox",
      "id": "enable_locale_selector",
      "label": "t:shared.settings.disclosure.enable_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.disclosure.header__country.content",
      "info": "t:shared.settings.disclosure.header__country.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "t:shared.settings.disclosure.enable_country_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.transparent__header.content"
    },
    {
      "id": "enable_transparent_home",
      "type": "checkbox",
      "label": "t:sections.header.settings.enable_transparent_home.label",
      "info": "t:sections.header.settings.enable_transparent_home.info",
      "default": true
    },
    {
      "id": "color_text_transparent",
      "type": "color",
      "label": "t:sections.header.settings.color_text_transparent.label",
      "default": "#ffffff"
    },
    {
      "id": "color_icon_transparent",
      "type": "color",
      "label": "t:sections.header.settings.color_icon_transparent.label",
      "default": "#ffffff"
    },
    {
      "id": "color_count_transparent",
      "type": "color",
      "label": "t:sections.header.settings.color_count_transparent.label",
      "default": "#000"
    },
    {
      "id": "color_border_transparent",
      "type": "color",
      "label": "t:sections.header.settings.color_border_transparent.label",
      "default": "#ffffff"
    },
    {
      "id": "opacity_border_transparent",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.header.settings.opacity_border_transparent.label",
      "default": 0
    },
    {
      "id": "logo_transparent",
      "type": "image_picker",
      "label": "t:sections.header.settings.logo_transparent.label",
      "info": "t:sections.header.settings.logo_transparent.info"
    }
  ]
}
{% endschema %}
