<style>
  .contact__info {
    display: flex;
    flex-direction: column;
  }
  .contact__info h3 {
    font-family: Proxima Nova;
    font-size: var(--font-size-72);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .contact__info .contact-info {
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.44px;
    margin-bottom: 16px;
  }
  .contact__info .contact-info span {
    margin-right: 12px;
  }
  .contact__info p:not(.contact-info) {
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.44px;
    margin-bottom: 94px;
  }
  .item-icon {
    display: flex;
    align-items: center;
  }
  .radio-question {
    margin: 52px 0;
  }
  .radio-question p {
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-bottom: 26px;
  }
  .radio-question label {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  .radio-question input::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid black;
  }
  .contact__content input, .contact__content textarea, .contact__content input:focus, .contact__content textarea:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: Raleway;
  } 

  .contact__content input, .contact__content textarea {
    font-family: Raleway;
    font-size: var(--font-size-32);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } 
  .contact__content input::placeholder, .contact__content textarea::placeholder, .contact__content .radio-question label {
    font-size: var(--font-size-20);
    letter-spacing: 0.4px;
  } 
  .contact__content input:focus, .contact__content textarea:focus {
    box-shadow: none;
  } 
  .btn.btn--primary {
    border-radius: 50px;
    padding: 16px 60px !important;
  }
  .radio-question.m0{
    margin-top:0;
  }
</style>

<div
  class="contact{% if section.blocks.size > 0 %} contact--has-image{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="contact"
>
  <div class="contact__inner container">
    {%- for block in section.blocks -%}
      <div class="contact__info element-animation">
        <h3 class="element-animation">{{ block.settings.title }}</h3>
        {{ block.settings.text }}
        <p class="element-animation">{{ block.settings.label }}</p>
        
        <p class="contact-info element-animation">{% render 'icon' with icon: 'mail', class: 'Contact' %}{{ block.settings.mail }}</p>
        <p class="contact-info element-animation">{% render 'icon' with icon: 'phone', class: 'Contact' %}{{ block.settings.tel }}</p>
        <p class="contact-info element-animation">{% render 'icon' with icon: 'location', class: 'Contact' %}{{ block.settings.address }}</p>
      </div>
    {%- endfor -%}

    <div class="contact__content">
      <header class="contact__header page__header">
        <h1 class="contact__heading element-animation page__heading ff-heading fs-heading-1-base">{{ page.title }}</h1>
      </header>

      {%- if page.content != blank -%}
        <div class="contact__rte element-animation page__rte">
          {{ page.content }}
        </div>
      {%- endif -%}

      {% form 'contact', class: 'contact__form' %}
        {%- assign success_msg = 'contact.form.post_success' | t -%}
        {% render 'form-status', form: form, form_id: 'contact', success_message: success_msg %}
        

        <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <div class="radio-question element-animation m0">
          <p>How can we assist you?</p>
            <div>
              <label>
                <input type="checkbox" name="contact[assist]" value="I would like to book a complementary virtual video consultation"/>I have an enquiry about a product.
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" name="contact[assist]" value="I have an enquiry about my order"/>I have an enquiry about my order
              </label>
            </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[assist]" value="I have an enquiry about a treatment or consultation."/>I have an enquiry about a treatment or consultation.
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[assist]" value="I would like to book a treatment or consultation."/>I would like to book a treatment or consultation.
                </label>
              </div>
        </div>

       
        <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <div class="radio-question element-animation">
          <p>CONSULTATIONS</p>
            <div>
              <label>
                <input type="checkbox" name="contact[consultations]" value="Complementary virtual phone consultation"/>Complementary virtual phone consultation
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" name="contact[consultations]" value="Complementary in clinic discovery consultation (Conducted in our Sydney flagship space)"/>Complementary in clinic discovery consultation 
              </label>
            </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[consultations]" value="In clinic signature consultation (Conducted in our Sydney flagship space)"/>In clinic signature consultation 
                </label>
              </div>
              
        </div>


        
        <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <div class="radio-question element-animation">
          <p>CUSTOMISED SKIN FACIALS</p>
            <div>
              <label>
                <input type="checkbox" name="contact[skin-facials]" value="Douglas Pereira Skin Health Signature Facial"/>Douglas Pereira Skin Health Signature Facial
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" name="contact[skin-facials]" value="Skin Booster Facials"/>Skin Booster Facials
              </label>
            </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[skin-facials]" value="In clinic signature consultation (Conducted in our Sydney flagship space)"/>In clinic signature consultation 
                </label>
              </div>
              
        </div>




        <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <div class="radio-question element-animation">
          <p>PROPRIETARY COMPLEX FACIALS</p>
            <div>
              <label>
                <input type="checkbox" name="contact[comlex-facials]" value="Cera Fort Complex Facial"/>Cera Fort Complex Facial
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" name="contact[comlex-facials]" value="Platinum Peptide Complex Facial"/>Platinum Peptide Complex Facial
              </label>
            </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[comlex-facials]" value="Clarity Complex Facial"/>Clarity Complex Facial
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[comlex-facials]" value="Vitamin ABC Complex Facial"/>Vitamin ABC Complex Facial
                </label>
              </div> 
        </div>




        <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <div class="radio-question element-animation">
          <p>SKIN TECHNOLOGY TREATMENT</p>
            <div>
              <label>
                <input type="checkbox" name="contact[skin-technology]" value="Dermal Infusion Treatment"/>Dermal Infusion Treatment
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" name="contact[skin-technology]" value="RF Facial Tightening Treatment"/>RF Facial Tightening Treatment
              </label>
            </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[skin-technology]" value="Skin Remodelling Treatment"/>Skin Remodelling Treatment
                </label>
              </div>
              
        </div>


        <label for="contact-ContactFormName element-animation" class="visually-hidden">{{ 'contact.form.name' | t }}</label>
        <input
          type="text"
          name="contact[name]"
          id="contact-ContactFormName"
          class="input element-animation"
          placeholder="{{ 'contact.form.name' | t }}"
          value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}"
        >

        <label for="contact-ContactFormEmail element-animation" class="visually-hidden">{{ 'contact.form.email' | t }}</label>
        <input
          type="email"
          name="contact[email]"
          id="contact-ContactFormEmail"
          class="input element-animation"
          placeholder="{{ 'contact.form.email' | t }}"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocomplete="off"
          autocapitalize="off"
        >

        <label for="contact-ContactFormPhone element-animation" class="visually-hidden">{{ 'contact.form.phone' | t }}</label>
        <input
          type="tel"
          name="contact[phone]"
          id="contact-ContactFormPhone"
          class="input-reset input w-100 element-animation"
          placeholder="{{ 'contact.form.phone' | t }}"
          value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          pattern="[0-9\-]*"
        >

       {% comment %} <label for="contact-ContactFormMessage" class="visually-hidden">{{ 'contact.form.message' | t }}</label>
        <div class="radio-question element-animation">
          <p>How we can help you?</p>
            <div>
              <label>
                <input type="checkbox" name="contact[help-option-1]" value="I would like to book a complementary virtual video consultation"/>I would like to book a complementary virtual video consultation
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" name="contact[help-option-2]" value="I would like to book a complementary phone consultation"/>I would like to book a complementary phone consultation
              </label>
            </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[help-option-3]" value="I would like to book a in clinic consultation"/>I would like to book a in clinic consultation
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[help-option-4]" value="Please let me know my closest clinic"/>Please let me know my closest clinic
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[help-option-5]" value="I have a product enquiry"/>I have a product enquiry
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[help-option-6]" value="I would like to book a professional treatment"/>I would like to book a professional treatment
                </label>
              </div>
              <div>
                <label>
                  <input type="checkbox" name="contact[help-option-7]" value="Other"/>Other
                </label>
              </div>
          </div> {% endcomment %}
        <textarea
          rows="3"
          name="contact[body]"
          id="contact-ContactFormMessage"
          class="input-reset input w-100 element-animation"
          placeholder="{{ 'contact.form.message' | t }}"
          required
        >
          {%- if form.body -%}
            {{- form.body -}}
          {%- endif -%}
        </textarea>
   
        <button type="submit" class="btn btn--primary btn--form element-animation">{{ 'contact.form.submit' | t }}</button>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_page_contact.name",
  "tag": "section",
  "class": "page-section",
  "blocks": [
    {
      "type": "info",
      "name": "Info",
      "limit": 1,
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text"
        },
        {
          "id": "label",
          "type": "text",
          "label": "Label"
        },
        {
          "id": "mail",
          "type": "text",
          "label": "E-mail"
        },
        {
          "id": "tel",
          "type": "text",
          "label": "Phone number"
        },
        {
          "id": "address",
          "type": "text",
          "label": "Address"
        }
      ]
    }
  ]
}
{% endschema %}
