{% style %}
    .section-image-title{
        position:relative;
        padding:clamp(100px,16.406vw,315px) 0;
        
    }
    .section-image-title .bg{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:0;
    }
    .section-image-title .bg img{
        display:block;
        width:100%;
        height:100%;
        object-fit:cover;
    }
    .section-image-title-{{section.id}} h3{
        color: {{section.settings.color}}
    }
    .section-image-title .title{
        margin:0 0 44px 0;
        cursor:pointer;
    }
    .section-image-title .title:last-child{
        margin:0;
    }
    .section-image-title .title h3{
        margin:0;
        text-align:center;
    }
    .section-image-title .title h3 a{
        font-family: Proxima Nova;
    }
    .section-image-title__wrap{
        position:relative;
        z-index:1;
    }
    .section-image-title .bg__wrap{
        height:100%;
        positon:relative;
    }
    .section-image-title .bg__wrap img{
        position:absolute;
        top:0;
        left:0;
        opacity:0;
        transition: all .3s easy;
    }
    .section-image-title .bg__wrap img.active{
        opacity:1;
        transition: all .5s easy;
    }
    .section-image-title .bg__wrap video{
        position:absolute;
        top:0;
        left:0;
        display:block;
        width:100%;
        height:100%;
        object-fit:cover;
       
    }
    .bg_visible{
        opacity:0;
        transition: all .5s easy;
    }
    .bg_visible.active{
        opacity:1;
        transition: all .5s easy;
    }
{% endstyle %}

<div class="section-image-title section-image-title-{{section.id}}">
    <div class="bg">
        <div class="bg__wrap">
            {% for block in section.blocks %}
                
                {% if block.settings.video == true  and block.settings.video_url != blank%}
                    <video class="bg_visible {% if forloop.index == 1 %} active {% endif %}" autoplay loop muted playsinline>
                        <source src="{{block.settings.video_url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <img  class="bg_visible {% if forloop.index == 1 %} active {% endif %}" src="{{block.settings.img | img_url: 'master'}}" alt="">
                {% endif %}
            {% endfor %}
            



        </div>
    </div>
    <div class="container">
        <div class="section-image-title__wrap">
            <div class="list-title">
                {% for block in section.blocks %}
                    <div class="title element-animation">
                        <h3>
                            <a href="{{block.settings.url}}">{{block.settings.title}}</a>
                        </h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "section-image-title",
      "settings": [
        {
          "type": "color",
          "id": "color",
          "label": "color text"
        }
      ],
      "blocks": [
        {
          "name": "item",
          "type": "item",
          "settings": [
            {
                "type":"checkbox",
                "id":"video",
                "label": "show video",
                "default": false
            },
            {
                "type": "text",
                "id": "video_url",
                "label":"video bg"
            },
            {
            "type": "image_picker",
            "id": "img",
            "label": "image bg"
            },
            {
                "type": "text",
                "id": "title",
                "label": "title"
            },
            {
                "type": "url",
                "id": "url",
                "label":"url title"
            }
          ]
        }
      ],
      "presets": [
        {   
          "name": "section-image-title"
        }
      ]
    }
  {% endschema %}