<link rel="stylesheet" href="{{ 'card-item.css' | asset_url }}">
<style>
    #shopify-section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .blog-list__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        column-gap: {{ section.settings.gap }}px;
    }
    .blog-list__title .title, .blog-list__title .text {
        flex: 1;
    }
    .blog-list__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        gap: 24px;
    }
    .title {
        font-family: Proxima Nova;
        font-size: var(--font-size-72);
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        text-transform: uppercase;
    }
    .logo-list__item h3, .logo-list__item button {
        font-family: Raleway;
        font-size: var(--font-size-22);
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.22px;
        padding: 24px 0;
    }
    .blog__filters {
        display: flex;
        justify-content: end;
    }
    .filter__wrapper {
        position: relative;
    }
    .filter__wrapper span {
        z-index: 3;
        position: relative;
        color: var(--black, #080808);
        font-family: Proxima Nova;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.64px;
        text-transform: uppercase;
    }
    .filter__wrapper:hover .filter {
        display: flex;
        z-index: 2;
    }
    .filter {
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        background-color: white;
        padding: 15px 0;
        z-index: -1;
    }
    .filter a {
        padding: 5px 16px;
    }
    .filter a:hover {
        background-color: rgb(235, 235, 235);
    }
    @media (max-width: 767px) {
        .blog-list__title {
            flex-direction: column;
        }
    }
    .article-tag {
        display: flex;
    }
</style>

{%- paginate blog.articles by 4 -%}
    <div class="blog-list container">
        <div class="blog-list__wrapper">
            <div class="blog-list__title">
                <h2 class="title">{{ section.settings.title }}</h2>
                <div class="text">{{ section.settings.text }}</div>
            </div>
            <div class="blog__filters">
                <div class="filter__wrapper">
                    <span>Filter by</span>
                    <div class="filter">
                        {% for tag in blog.all_tags %} 
                            {% if current_tags == tag %}
                            <span class="article-tag active">
                              {{ tag }} &#x2715;
                            </span>
                          {% elsif current_tags contains tag %}
                            <span class="article-tag active">
                              {{ tag | link_to_remove_tag: tag }} &#x2715;
                            </span>
                          {% else %}
                            <span class="article-tag ">
                              {{ tag | link_to_add_tag: tag }}
                            </span>
                          {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="blog-list__content">
                {%- for item in blog.articles -%}
                    {% render 'card-item', url: item.url, img: item.image, title: item.title, btn_text: 'discover' %}
                {%- endfor -%}
            </div>
        </div>
        {%- if paginate.pages > 1 -%}
            {%- render 'pagination', paginate: paginate -%}
        {%- endif -%}
    </div>
{%- endpaginate -%}

{% schema %}
    {
        "name": "Blog list",
        "settings": [
            {
                "type": "range",
                "id": "padding_top",
                "unit": "px",
                "min": 0,
                "max": 300,
                "default": 0,
                "label": "Padding top",
                "step": 5
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "unit": "px",
                "min": 0,
                "max": 300,
                "default": 0,
                "label": "Padding top",
                "step": 5
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "blog",
                "id": "blog",
                "label": "Blog"
            },
            {
                "type": "range",
                "id": "gap",
                "unit": "px",
                "min": 0,
                "max": 300,
                "default": 0,
                "label": "Gap",
                "step": 5
            }
        ],
        "presets": [
            {
                "name": "Blog list"
            }
        ]
    }
{% endschema %}