<div class="section-tab-hover">
  <div class="bg-img-wrap">
    <div class="bg-img-body">
      {% for block in section.blocks %}
        <img
          class="bg-img {% if forloop.index == 1 %} active {% endif %}"
          src="{{block.settings.img| img_url: 'master'}}"
          alt="">
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="section-tab-hover__wrap">
      <div class="big-title">
        <h2>
          {{ section.settings.title }}
        </h2>
      </div>
      <div class="tab-list">
        {% for block in section.blocks %}
          <div class="tab-item {% if forloop.index == 1 %} active {% endif %}">
            <div class="tab-item__wrap">
              <div class="tab-item-content">
                <div class="number">
                  <span>
                    {{ forloop.index }}
                  </span>
                </div>
                <div class="title">
                  <h3>{{ block.settings.title }}</h3>
                </div>
                <div class="text">
                  <p>
                    {{ block.settings.text }}
                  </p>
                </div>
                <div class="tab-item-link">
                  <a href="{{block.settings.url}}" class="a-link">{{ block.settings.btn_name }} {% render 'icon-arrow-right' %}</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "section-tab-hover",
    "settings": [
      {
        "type": "text",
        "id": "name",
        "label": "name"
      }, {
        "type": "text",
        "id": "title",
        "label": "title"
      }
    ],
    "blocks": [
      {
        "name": "item",
        "type": "item",
        "settings": [
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "text detail"
          },
          {
            "type": "url",
            "id": "url",
            "label": "url"
          }, {
            "type": "text",
            "id": "btn_name",
            "label": "link name",
            "default": "LEarn more"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "section-tab-hover"
      }
    ]
  }
{% endschema %}