<link rel="stylesheet" href="{{ 'section-image-banner.css' | asset_url }}">
<style>
#shopify-section-{{ section.id }} .image-banner {
    padding: {{ section.settings.padding_y }}px {{ section.settings.padding_x }}px;
}
#shopify-section-{{ section.id }}  .image-banner__wrapper {
    justify-content: {{ section.settings.text_position }};
}
#shopify-section-{{ section.id }} .video-banner-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#shopify-section-{{ section.id }} .video-banner-bg video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#shopify-section-{{ section.id }} .image-banner__img figure{
    background-image: url({{ section.settings.img | img_url: 'master'}});
}
#shopify-section-{{ section.id }} .image-banner__text {
    text-align: {{ section.settings.text_align_item }};
    color: {{ section.settings.color_text }};
    max-width: {{ section.settings.text_width }}px;
    padding-top: {{ section.settings.text_padding_top }}px;
    padding-bottom: {{ section.settings.text_padding_bottom }}px;
}
#shopify-section-{{ section.id }} .image-banner__text h1,
#shopify-section-{{ section.id }} .image-banner__text h2,
#shopify-section-{{ section.id }} .image-banner__text h3,
#shopify-section-{{ section.id }} .image-banner__text h4,
#shopify-section-{{ section.id }} .image-banner__text h5,
#shopify-section-{{ section.id }} .image-banner__text h6 {
    padding-bottom: {{ section.settings.title_padding_bottom }}px;
}
#shopify-section-{{ section.id }} .image-banner__text-text {
    padding-bottom: {{ section.settings.subtitle_padding_bottom }}px;
}
#shopify-section-{{ section.id }} .image-banner__text a {
    {% case section.settings.text_align_item %}
        {% when 'center' %}
            margin: 0 auto;
        {% when 'right' %}
            margin-left: auto;
        {% else %}
            margin-left: inherit;
    {% endcase %}
}
@media(max-width: 500px) {
    .image-banner {
        padding-left: 17px;
        padding-right: 17px;
    }
}
</style>

<div class="image-banner dddd">
    <div class="image-banner__wrapper container">

        
        {% if section.settings.video == true  and section.settings.video_url != blank%}
            <div class="video-banner-bg">
                <video autoplay loop muted playsinline>
                    <source src="{{section.settings.video_url}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% else %}
            <div class="image-banner__img">
                <figure></figure>
            </div>
        {% endif %}


        <div class="image-banner__text element-animation">
            {% case section.settings.title_font %}
                {% when 'h1' %}
                    <h1>{{ section.settings.title }}</h1>
                {% when 'h2' %}
                    <h2>{{ section.settings.title }}</h2>
                {% when 'h3' %}
                    <h3>{{ section.settings.title }}</h3>
                {% when 'h4' %}
                    <h4>{{ section.settings.title }}</h4>
                {% when 'h5' %}
                    <h5>{{ section.settings.title }}</h5>
                {% when 'h6' %}
                    <h6>{{ section.settings.title }}</h6>
                {% else %}
                    <p>{{ section.settings.title }}</p>
            {% endcase %}
            {% if section.settings.subtitle != blank %}
                <div class="image-banner__text-text element-animation">{{ section.settings.subtitle }}</div>
            {% endif %}
            {% if section.settings.btn_url != blank %}
                <a href="{{ section.settings.btn_url }}" class="a-btn {% if section.settings.btn_style == 'prime' %}prime{% endif %}{% if section.settings.btn_style == 'secondary' %}secondary{% endif %} element-animation">
                    {{ section.settings.btn_text }}
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "image banner",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type":"checkbox",
                "id":"video",
                "label": "show video",
                "default": false
            },
            {
                "type": "text",
                "id": "video_url",
                "label":"video bg"
            },
            {
                "type": "range",
                "id": "padding_x",
                "min": 0,
                "max": 180,
                "step": 2,
                "unit": "px",
                "label": "Section padding x",
                "default": 0
            }, 
            {
                "type": "range",
                "id": "padding_y",
                "min": 0,
                "max": 180,
                "step": 2,
                "unit": "px",
                "label": "Section padding y",
                "default": 0
            },
            {
                "type": "image_picker",
                "label": "Image",
                "id": "img"
            },
            {
                "type": "header",
                "content": "Block with text"
            }, 
            {
                "type": "color",
                "label": "Text color",
                "id": "color_text",
                "default": "#fff"
            },
            {
                "type": "text",
                "label": "Title",
                "id": "title",
                "default": "the skincare regime builder"
            },
            {
                "type": "select",
                "id": "title_font",
                "options": [
                    {
                        "value": "h1",
                        "label": "Heading 1"
                    },
                    {
                        "value": "h2",
                        "label": "Heading 2"
                    },
                    {
                        "value": "h3",
                        "label": "Heading 3"
                    },
                    {
                        "value": "h4",
                        "label": "Heading 4"
                    },
                    {
                        "value": "h5",
                        "label": "Heading 5"
                    },
                    {
                        "value": "h6",
                        "label": "Heading 6"
                    }
                ],
                "default": "h3",
                "label": "Paragraph",
                "info": "text"
            },
            {
                "type": "range",
                "id": "title_padding_bottom",
                "min": 0,
                "max": 80,
                "step": 2,
                "default": 0,
                "unit": "px",
                "label": "Title padding bottom"
            }, 
            {
                "type": "richtext",
                "label": "Subtitle",
                "id": "subtitle"
            },
            {
                "type": "range",
                "id": "subtitle_padding_bottom",
                "min": 0,
                "max": 80,
                "step": 2,
                "default": 0,
                "unit": "px",
                "label": "Subtitle padding bottom"
            }, 
            {
                "type": "text",
                "label": "Button text",
                "id": "btn_text",
                "default": "Take the skincare regime"
            },
            {
                "type": "url",
                "label": "Button url",
                "id": "btn_url"
            },
            {
                "type": "select",
                "id": "btn_style",
                "options": [
                    {
                        "value": "prime",
                        "label": "Prime"
                    },
                    {
                        "value": "secondary",
                        "label": "Secondary"
                    }
                ],
                "default": "prime",
                "label": "Button style"
            },
            {
                "type": "header",
                "content": "Block with text posution"
            }, 
            {
                "type": "range",
                "id": "text_width",
                "min": 200,
                "max": 1200,
                "step": 10,
                "default": 400,
                "unit": "px",
                "label": "Max width block with text"
            },
            {
                "type": "select",
                "id": "text_align_item",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left",
                "label": "Text align item"
            },
            {
                "type": "select",
                "id": "text_position",
                "options": [
                    {
                        "value": "normal",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "end",
                        "label": "Right"
                    }
                ],
                "default": "normal",
                "label": "Text position "
            },
            {
                "type": "range",
                "id": "text_padding_top",
                "min": 0,
                "max": 180,
                "step": 2,
                "unit": "px",
                "label": "Padding top block with text",
                "default": 0
            }, 
            {
                "type": "range",
                "id": "text_padding_bottom",
                "min": 0,
                "max": 180,
                "step": 2,
                "unit": "px",
                "label": "Padding bottom block with text",
                "default": 0
            }

        ],
        "presets": [
            {
                "name": "Image banner"
            }
        ]
    }
{% endschema %}